@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$dimensions: 16 24 32 48 64 96 128 256 !default

// Set your brand colors
$purple: #8A4D76;
$green: #d4e09b;
$pink: #f19c79;
$purple: #363457;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$off-white: #f6f4d2;
$soft-green: #cbdfbd;
$red: #a44a3f;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-darker: $purple;
$grey-light: $beige-light;
$primary: $green;
$link: $pink;
$light: $beige-lighter;
$info: $off-white;
$success: $soft-green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



@import "../node_modules/bulma/bulma.sass";
